<!-- HEADER -->
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Primary title
      </h1>
    </div>
  </div>
</section>




<!-- CONTENT -->
<div class="columns">
  <div class="column"></div>
  <div class="column is-half">feed here</div>
  <div class="column">
    <nav class="nav">
      <div class="nav-right nav-menu">
        {{#if user}}

        <div class="nav-item" id="avatar"><img src='{{user.image.url}}'></div>

        <a class="nav-item" id="{{email}}">{{user.displayName}}</a>

        <span class="nav-item">
          <a class="button is-white" id="create" >
            <span class="icon">
              <i class="fa fa-plus"></i>
            </span>
          </a>
        </span>


        <span class="nav-item">
          <a class="button is-white" href='/auth/logout' >
            <span class="icon">
              <i class="fa fa-sign-out"></i>
            </span>
          </a>
        </span>

        {{else}}

        <a class="nav-item button" href='/auth/login'>
          <span class="icon">
            <i class="fa fa-login"></i>
          </span>
          <span>Login</span>
        </a>
        {{/if}}
      </div>
    </nav>
  </div>
</div>
