<!-- HEADER -->
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        storrry
      </h1>




      <!-- NAV -->
      <nav class="nav">
        <div class="nav-right nav-menu">
          {{#if user}}

          <div class="nav-item" id="avatar"><img src='{{user.image.url}}'></div>

          <a class="nav-item" id="{{email}}">{{user.displayName}}</a>

          <div class="nav-item">
            <a class="button is-white" id="create" >
              <span class="icon">
                <i class="fa fa-plus"></i>
              </span> create
            </a>
          </div>


          <div class="nav-item">
            <a class="button is-white" href='/auth/logout' >
              <span class="icon">
                <i class="fa fa-sign-out"></i>
              </span> logout
            </a>
          </div>

          {{else}}

          <div class="nav-item">
            <a class="button is-white" href='/auth/login' >
              <span class="icon">
                <i class="fa fa-sign-in"></i>
              </span> login
            </a>
          </div>

          {{/if}}
        </div>
      </nav>
      <!-- NAV END -->





    </div>




  </div>
</section>




<!-- CONTENT -->
<div class="columns">
  <div class="column"></div>
  <div class="column is-half">feed here</div>
  <div class="column"></div>
</div>
