
<h1>Index</h1>
<a href='/auth/login'>Login with Google+</a>

<div class="container">
  <div class="col-lg-4">
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </button>
  </div>
  <div class="col-lg-4 bg-success">
    <h1>header</h2>
    <div class="content">
    <div class="row">
      <div class="img-responsive img-rounded" alt="Responsive image"><img class="content-img" src="http://elelur.com/data_images/mammals/elephant/elephant-03.jpg"></div>
    </div>
    <div class="row">
      <div clas="content-text">
        <!-- <div id="drag-1" class="draggable">
          <p> You can drag one element </p>
        </div>
        <div id="drag-2" class="draggable">
          <p> with each pointer </p>
        </div> -->
      </div>
    </div>
    </div>
  </div>
  <div class="col-lg-4"></div>
</div>
