<div class="container">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <h1>header</h2>
        <div class="content">
          <div class="img-responsive img-rounded" alt="Responsive image"><img class="content-img" src="http://elelur.com/data_images/mammals/elephant/elephant-03.jpg"></div>
          <div clas="content-text">
            <div id="grid-snap">Dragging<div>a</div></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
</div>
