<h1>Profile Page</h1>

{{!-- Display a link to logout --}}
<p>Welcome, {{user.displayName}}</p>
<div id='avatar'><img src='{{user.image.url}}'></div>
<div id='email'>{{user.email}}</div>
<a href='/auth/logout'>Logout</a>
