<h1>Profile Page</h1>

{{!-- Display User Information --}}
<p>Welcome, {{user.displayName}}</p>
<div><img src='{{user.image.url}}'></div>
{{!-- Display a link to logout --}}
<a href='/auth/logout'>Logout</a>
