
<!-- NAV -->
<nav class="nav">
  <div class="nav-right">
    <a class="nav-item" href="/"><h1>STORRY</h1></a>
  </div>


  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
    <!-- <a class="nav-item">
      Home
    </a>
    <a class="nav-item">
      Documentation
    </a>
    <a class="nav-item">
      Blog
    </a> -->

    <span class="nav-item">
      <a class="button is-primary" href='/auth/login'>
        <span class="icon">
          <i class="fa fa-login"></i>
        </span>
        <span>Login</span>
      </a>
    </span>
  </div>
</nav>



{{!-- <form action="/stories" method="POST" accept-charset="utf-8"> --}}
 <button id="submit">SUBMIT</button>
{{!-- </form>
 --}}





<!-- CONTENT -->
<div class="container" id='myContainer'>
  <div class="columns">
    <div class="column"></div>
    <div class="column is-half">
      <div class="content">
        <article class="media">
          <figure class="media-center">

            <p class="image"> IMG
              <!-- <img src="{{img_url}}"> -->
           
           //brad and kris test
            //<p class="image">
              //<img id='storypost' src="{{img_url}}">
            </p>
          </figure>
        </article>
        <div class="content-text">

          <h2 id="app-status"> app status: </h2>
          <div class="words" id="word1" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">WORD1</div>
          <div class="words" id="word2" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">WORD2</div>
          <div class="words" id="word3" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">WORD3</div>
          <div class="words" id="word4" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">WORD4</div>
          <div class="words" id="word5" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">WORD5</div>
          <div class="words" id="word6" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">WORD6</div>
          <div class="words" id="word7" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">WORD7</div>
          <div class="words" id="word8" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">WORD8</div>
          <div class="words" id="word9" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">WORD9</div>
          <div class="words" id="word10" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">WORD10</div>

          <div id="drop-zone" ondragenter="dragEnter(event)" ondrop="dragDrop(event)" ondragover="return false" ondragleave="dragLeave(event)">CAPTION : </div>

          <br><button id="publish">Publish</button>

        </div>

      </div>
    </div>
    <div class="column"></div>
  </div>
</div>
