
<!-- NAV -->
<nav class="nav">
  <div class="nav-right">
    <a class="nav-item" href="/"><h1>STORRY</h1></a>
  </div>


  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
    <!-- <a class="nav-item">
      Home
    </a>
    <a class="nav-item">
      Documentation
    </a>
    <a class="nav-item">
      Blog
    </a> -->

    <span class="nav-item">
      <a class="button is-primary" href='/auth/login'>
        <span class="icon">
          <i class="fa fa-login"></i>
        </span>
        <span>Login</span>
      </a>
    </span>
  </div>
</nav>



{{!-- <form action="/stories" method="POST" accept-charset="utf-8"> --}}
 <button id="submit">SUBMIT</button>
{{!-- </form>
 --}}





<!-- CONTENT -->
<div class="container" id='myContainer'>
  <div class="columns">
    <div class="column"></div>
    <div class="column is-half">
      <div class="content">
        <article class="media">
          <figure class="media-center">
            <p class="image">
              <img id='storypost' src="{{img_url}}">
            </p>
          </figure>
        </article>
        <div class="content-text">
          <!-- <div id="drag-1" class="draggable">
            <p class="word">1word</p>
          </div>
          <div id="drag-2" class="draggable">
            <p class="word">2word</p>
          </div>
          <div id="drag-3" class="draggable">
            <p class="word">3word</p>
          </div> -->
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>
</div>

