a {
  color: black;
  /*background: #FFFFF2;*/
}

h1 {
  text-align: center;
  display: inline-block;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 10px;
  /*text-align: center;*/
  margin-left: 100px;
  color: black;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 10px;
}
.bottom {
  height: 100px;
}

.nav,
.nav-right,
.nav-menu {
  display: inline-block;
  float: right;
  box-shadow: none;
}

.hero .nav {
    background: 0 0;
     box-shadow: none;
}

.button {
  display: block;
  border: none;
}

.word {
  text-align: center;
}

.media {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.content-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #000003;
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
}

.caption {
  /*border: 1px solid #4A43FC;
  color: #000003;
  margin: 30px;
  padding: 8px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;*/



  color: #000003 ;
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
}

.delete {
  float: right;
  margin: 10px;
}

/*DRAGULA DRAG AND DROP ====================================================*/
.words {
    display:inline-block;
    border: 1px solid #4A43FC;
    color: #000003;
    margin: 10px;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}

#publish {
  background: #4A43FC;
  color: #FFFFF2;
  margin-top: -40px;
  margin-right: 30px;
  padding: 8px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  float: right;
}

#drop-zone {
    border: 1px solid #4A43FC;
    padding: 8px;
    font-size: 18px;
     min-height: 100px;
}
