/*DRAGULA*/
@import 'node_modules/dragula/dragula';

a {
  color: black;
  background: #FFFFF2;
}

h1 {
  text-align: center;
  display: inline-block;
}

.hero-body {
  background: #FFFFF2;
}

.title {
  font-family: 'Montserrat', sans-serif;
  background: #FFFFF2;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 10px;
}

.nav,
.nav-right,
.nav-menu {
  display: inline-block;
  float: right;
  box-shadow: none;
}


.hero .nav {
    background: 0 0;
     box-shadow: none;
}


.button {
  display: block;
  border: none;
  background: #FFFFF2;
}

.column {
  /*border: 5px solid red;*/
}

.word {
  text-align: center;
}

.media {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.content-media{
  /*float: left;*/
}

.content-text {
  /*background: red;*/
  /*float: right;*/
  /*width: 60%;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: #FFFFF2;
}

#createStory {
  background: #FFFFF2
}

p {
  color: #000003;
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
}

/*DRAGULA DRAG AND DROP ====================================================*/
.words {
    display:inline-block;
    /*background-color: #4A43FC;*/
    border: 1px solid #4A43FC;
    color: #000003;
    margin: 10px;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    /*cursor: move;*/
}

#publish {
  background: #4A43FC;
  color: #FFFFF2;
  /*margin: 10px;*/
  padding: 8px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  float: right;
}

.words:hover{
  /*animate*/
}

#drop-zone {
    border: 1px solid #4A43FC;
    padding: 8px;
    font-size: 18px;
}
