
h1 {
  font-size: 50px;
}
.nav-right {
  /*border: 5px solid red;*/
}
.column {
  /*border: 5px solid red;*/
}

.word {
  text-align: center;
}

.media {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content-text {
  background: red;
}